spring:
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=license;encrypt=true;trustServerCertificate=true
    username: sa
    password: sa
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate.dialect: org.hibernate.dialect.SQLServerDialect
      hibernate.jdbc.time_zone: UTC

server:
  port: 8080

logging:
  level:
    org.springframework.security: DEBUG

app:
  jwt:
    secret: "594e1820cffe90742bbd836f0fde19a5c4ac49de2d1816611eb14f06b658a469301d8209"
    accessTtlSeconds: 3600
    refreshTtlSeconds: 604800